@model IEnumerable<Student.Models.Students>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    var pagedList = (IPagedList)Model;
}

<h2 style="text-align:center;">List of Students</h2>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="col-lg-offset-8 form-inline" style="margin-left:350px;">
        <input type="text" class="form-control" placeholder="Search" name="searchQuery" value="@ViewBag.SearchQuery" />
        <button type="submit" class="btn btn-primary">Search!</button>
    </div>
    <br />
}
    <div style="margin-left:350px;">
        <a class="btn btn-primary" href="@Url.Action("Create","Students")">Create New</a>
    </div>

<table class="table" style="margin-left:100px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>


        </tr>
    }

</table>
<div style="margin-left:350px">
    Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, searchQuery = ViewBag.SearchQuery }))
</div>